.HeaderDashContain{
    background-color: transparent;
    box-shadow: none;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.deFlexHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
 gap: 2rem;
}
@media (max-width: 1024px){
  .HeaderDashContain{
    flex-direction: column;
    padding-top: 1rem;
  }
  .deFlexHeader{
 
    gap: 10px;
   padding: 10px;
   
  }
}
